.quiz-container{
    color: black;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 20px;
    width: 100%;
    font-size: 60px;
   font-weight: 900;
   font-family: 'Pacifico', cursive;
}

.subtitle{
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
  box-shadow: 4px 4px 2px black;
    padding: 20px 60px;
    display: block;
    width: 40%;
    margin: auto;
    padding: 5px 10px;
    margin-top: 80px;
}

.category{
    /* font-family: "Ephesis", 
    sans-serif; */
    font-size: 30px;
    float: left;
    margin: 20px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    overflow-wrap: break-word;
    display: inline;

}

.score{
    /* font-family: "Ephesis", sans-serif; */
    font-size: 30px;
    float: right;
    margin: 40px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;

}


.question-container{
    font-family: "Ephesis", sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    font-weight: 500;
    padding: 20px;
}


@media (max-width: 800px) and (max-width: 700px) {
    .quiz-container{
        margin: 0px;
        color: black;
        flex-direction: column;
        align-items: center;
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        font-weight: 400;
    }
    
    h1{
        margin-top: inherit;
        padding-top: inherit;
    }

    .category{
        float: left;
        margin: 20px;
    font-size: 20px;
    font-weight: 600;


    }
    
    .score{
        float: right;
        margin-right: 30px;
    font-size: 20px;
    font-weight: 600;

    }

    .question-container{
        font-family: "Ephesis", sans-serif;
        font-size: 20px;
        text-align: center;
        /* margin: 20px; */
        padding: 20px;
        font-weight: 400;
    }
    

}

