@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 23px;
  align-items: center;
  font-family: 'Pacifico', cursive;
}


.quizForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}


.home_image{
  width: 95%;
  margin: 0px;
  padding: 23px;

}



.home_image img {
  /* border: 2px solid red; */
  height: 350px;
  float: right;
  margin-bottom: 200px;
  width: 350px;
  border-radius: 30px;
  margin-top: 200px;
  /* margin-right: 10px; */
}

.quiz-heading {
  color: #432818;
  font-family: "Pacifico", cursive;
  margin-left: 80px;
  padding: 10px;
  text-align: center;
}

.data-Container {
  width: 100%;
  margin-left: 130px;
}

.formElement{
  width: 100%;
 margin: 200px;
 padding: 200px;
}

.startBtn{
  width: 100%;
  /* height: ; */
  margin-left: 40px;
  padding-left: 60px;
}
Button{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 69px;
}

@media (max-width: 1000px) {
  .home-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    /* overflow: scroll; */
    padding: 0px;
    padding-top: 20px;
  }

  
  .data-Container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }


  .quizForm{
    display: flex;
    /* flex-direction: row; */
    /* border: 2px solid orange; */
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 60px;
      width: 80%;
  }
  .quiz-heading {
   text-align: center;
   padding: 0px;
   margin-right: 10px;
   width: 100%;
  }

  .home_image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
        margin-top: 20px;

  }


  .home_image img {
   height: 150px;
   width: 150px;
   margin: 50px;
   margin-block-end: 0px;
    padding-block-end: 0px;
   /* margin-bottom: 1px; */
   /* padding: 10px; */
  }

  .startBtn{
    padding: 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
 
  .formElement{
    display: flex;
    margin: 0;
    padding: 0;

  }
 
}

