* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}


.App {
  min-height: 98.5vh; /* Ensures the container covers at least the height of the viewport */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  border: 8px solid #582f0e;
  /* background-color: white; */
  background-color: #edede9;
  /* margin: 5px; */
  padding: 5px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}



.components {
  flex-grow: 1;
  position: fixed;
  width: 100%;
}
